<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a  href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-gear-AmmavationsBW.png" alt="logo" width="auto" height="300"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Robust product development / <br>engineering services</li>
                    <li>Mechanical design and analysis</li>
                    <li>Electrical engineering</li>
                    <li>Embedded systems and firmware</li>
					<li>Software Development</li>
					<li>Automation Design</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Golden, CO 80403</a>
                    </li>
                    <li>
                        <a href="tel:720-289-7106">T: (720) 289-7106</a>
                    </li>
                    <li>
                        <a href="mailto:amaul@ammavations.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="copyright">AmmAvations - Copyright 2024</span>
    </div>
</footer>